<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<marquee behavior="" direction="" style="background-color: orange; color:steelblue">National University of Singapore Taekwondo Contact Information</marquee>
<body background="./images/NUS-Background.jpg" link="red" alink="blue" vlink="black">
    
    <div class="container">
        <img src="./images/NUS-Logo.png" alt="" width="10%" height="10%">
        <h1>Contact Information</h1>
    </div>
    <a th:href="@{/nustaekwondo}">Home</a>
    <a th:href="@{/student-list}">Registered Students</a>

    <table th:object="${student}">
        <tr>
            <td>ID</td>
            <td>Full Name</td>
            <td>Gender</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Grade</td>
            <td>Type</td>
            <td>Competition Experience</td>
        </tr>
        <tr>
            <td th:text="*{id}"></td>
            <td th:text="*{fullName}"></td>
            <td th:text="*{gender}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{phone}"></td>
            <td th:text="*{grade}"></td>
            <td th:text="*{type}"></td>
            <td th:text="*{competeBefore}"></td>
        </tr>
    </table>

</body>
</html>