<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Information</title>
</head>
<body th:object="${student}">
    <h1>Contact Information</h1>
    <br>
    <p>ID:</p>
    <p th:text="*{id}"></p>

    <p>Name:</p>
    <p th:text="*{fullName}"></p>

    <p>Gender:</p>
    <p th:text="*{gender}"></p>
    
    <p>Email:</p>
    <p th:text="*{email}"></p>
    
    <p>Phone:</p>
    <p th:text="*{phone}"></p>
    
    <p>Grade:</p>
    <p th:text="*{grade}"></p>
    
    <p>Type:</p>
    <p th:text="*{type}"></p>
    
    <p>Competition Experience:</p>
    <p th:text="*{competeBefore}"></p>

</body>
</html>